<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">
<!--    <link rel="stylesheet" href="../static/css/index.css">-->
<!--    <script src="../static/js/index.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
     <link rel="stylesheet" th:href="@{css/index.css}">
<!--     <script type="module" th:src="@{js/index.js}"></script>-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <title>주차 현황</title>
</head>
<body>

<div class="total-container">
    <div class="net-bar-container">
        <div class="net-bar-title">
            <h2>주차 현황</h2>
        </div>
    </div>

    <div class="parking-content-container">
        <div class="parking-status-container">
            <div class="parking-remaining-status-container">
                <div class="parking-remaining-status-title" >
                    <h2>주차 가능 공간</h2>
                </div>
                <div class="parking-remaining-status-display-container">
                    <div id="parking-remaining-status-number-display">
                        <h3 id="parking-remaining-status-number">2</h3>
                    </div>
                    <div class="parking-remaining-status-position-display">
                        <div id="1-parking-zone">
                            <h3>1</h3>
                        </div>
                        <div id="2-parking-zone">
                            <h3>2</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parking-area-container">
                
            </div>
        </div>
        <div class="parking-log-container">
            <div class="parking-past-log-container">
                <div class="parking-past-log-title">
                    <h2>출입 기록</h2>
                </div>
                <div class="parking-past-log-display-container">
                    <table class="parking-past-log-table">
                        <thead>
                            <tr>
                                <th class="table-user-label">사용자</th>
                                <th class="table-time-label">시간</th>
                                <th class="table-enter-label">출입 여부</th>
                            </tr>
                        </thead>
                        <tbody id="parking-past-log-table-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const available_color = "rgba(0,255,0,0.6)";
    const unavailable_color = "rgba(255,0,0,0.6)";
    const in_color = "rgba(0,255,0,0.3)";
    const out_color = "rgba(255,0,0,0.3)";
    const max_record_length = 10;

    connect();
    getRecords();

    function connect() {
        const socket = new SockJS('/socket');
        console.log(socket)
        const stompClient = Stomp.over(socket);

        stompClient.connect( {},
            (frame) => {
                console.log("Connected: " + frame);

                stompClient.subscribe("/sensors/user", (messageOutput) => {
                    const json = JSON.parse(messageOutput.body);
                    addRecord(json.user, json.time, json.enter);
                    console.log(json);
                });
                stompClient.subscribe("/sensors/light", (messageOutput) => {
                    const json = JSON.parse(messageOutput.body);
                    let count = 0;
                    json.map((value) => {
                        setParking(value.position, value.parked);
                        if (!value.parked) {
                            count++;
                        }
                    })
                    setParkingNumber(count);
                    console.log(json);
                });
                stompClient.subscribe("/sensors/fire", (messageOutput) => {
                    const json = JSON.parse(messageOutput.body);
                    if (json.fire) {
                        alert("화재가 감지되었습니다.");
                    }
                    console.log(json);
                });
            }
        );
        stompClient.onclose = async (e) => {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e);
            setTimeout(function () {
                connect()
            }, 1000)
        };
    }

    function setParking(position, isParked) {
        let parking_zone = document.getElementById(position + "-parking-zone");
        if (isParked) {
            parking_zone.style.backgroundColor = unavailable_color;
        }
        else {
            parking_zone.style.backgroundColor = available_color;
        }
    }

    function setParkingNumber(count) {
        let number = document.getElementById("parking-remaining-status-number");
        number.textContent = Number(count);

    }

    function getRecords() {
        fetch("/sensor/getUser", {method: 'GET'})
            .then(response => {
                return response.json()
            })
            .then(data => {
                data.items.map((record) => {

                        addRecord(record.user, record.time, record.enter)
                })
            })
    }

    function addRecord(user, time, enter) {
        let tr = document.createElement("tr");
        let userElement = document.createElement("td");
        let timeElement = document.createElement("td");
        let enterElement = document.createElement("td");

        userElement.textContent = user;
        timeElement.textContent = time;
        enterElement.textContent = enter;

        tr.appendChild(userElement);
        tr.appendChild(timeElement);
        tr.appendChild(enterElement);

        if (enter === "out") {
            userElement.style.backgroundColor = out_color;
            timeElement.style.backgroundColor = out_color;
            enterElement.style.backgroundColor = out_color;
        }
        else {
            userElement.style.backgroundColor = in_color;
            timeElement.style.backgroundColor = in_color;
            enterElement.style.backgroundColor = in_color;
        }

        let tbody = document.getElementById("parking-past-log-table-body");
        tbody.insertBefore(tr, tbody.firstChild);

        if (tbody.childElementCount > max_record_length) {
            tbody.removeChild(tbody.lastChild);
        }
    }
</script>
</body>
</html>